<section class="flex flex-1 flex-col gap-2 min-h-0">
    <header class="p-2">
        <h2 class="text-2xl font-bold">Serviço Indisponível</h2>
    </header>
    <div class="flex flex-1 flex-col gap-2 min-h-0">
        <main class="flex-1 flex flex-col p-6 bg-white rounded-2xl shadow-lg overflow-hidden">
            <div class="flex flex-col flex-1 min-h-0">
                <div class="p-5 text-slate-600 box-border flex-1 mt-1 mb-1 rounded-lg overflow-y-auto min-h-0 justify-center items-center flex flex-col">
                    <h3 class="text-xl font-semibold pt-2 pb-2">O serviço está indisponível no momento.</h3>
                    <p class="font-italic">Estamos trabalhando no desenvolvimento da solução.</p>
                </div>
            </div>
        </main>
    </div>
</section>

<div id="modal-spot"></div>
