<button type="button"
    hx-get="{{ url }}"
    hx-target="#modal-spot" 
    hx-swap="innerHTML"
    class="h-11 px-4 py-2.5 bg-primary hover:opacity-90 rounded-full inline-flex justify-center items-center gap-2 text-white shadow hover:shadow-lg transition-all cursor-pointer border-none focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary">
    
    <span class="text-sm font-medium">{{ text|default:'Criar' }}</span>
    <ion-icon name="add-outline" class="w-5 h-5"></ion-icon>
</button>