{% url 'dp:create_lotacao' as url_criar_lotacao %}

<section class="flex-1 flex flex-col gap-2 h-full">
    <header class="p-2">
        <h2 class="text-2xl font-bold">Gerenciar Lotações</h2>
    </header>
    <div class="flex flex-1 flex-col gap-2 min-h-0">
        <div class="flex flex-row gap-2">{% include "partials/_search_bar.html" with target_ids="lotacoes-list" placeholder="Buscar lotações..." %}{% include "partials/_generic_create_button.html" with url=url_criar_lotacao text="Nova Lotação" icon_name="briefcase-outline" %}</div>
        <main class="flex-1 flex flex-col p-6 bg-white rounded-2xl shadow-lg overflow-hidden">
            <div class="flex flex-col flex-1 min-h-0">
                <h3 class="text-xl font-semibold pt-2 pb-2">Lotações</h3>
                <div class="p-5 bg-slate-50 text-slate-600 box-border flex-1 mt-1 mb-1 rounded-lg overflow-y-auto min-h-0">
                    <table class="w-full border-separate border-spacing-y-2">
                        <thead>
                            <tr class="px-2">
                                <th class="p-2 text-left font-semibold">Nome</th>
                                <th class="p-2 text-left font-semibold"></th>
                                <th class="p-2 text-left font-semibold">Chefia Imediata</th>
                                <th class="p-2 text-left font-semibold">Editar</th>
                            </tr>
                        </thead>
                        <tbody id="lotacoes-list"
                               hx-get="{% url 'dp:lotacoes_list' %}"
                               hx-trigger="updateLotacoesList from:body"
                               hx-swap="innerHTML">
                            {% include "painel/dp/_partial_list_lotacoes.html" with lotacoes=lotacoes %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</section>

<div id="modal-spot"></div>
