{% url 'administracao:create_documento' as url_criar_documento %}

<section id="documentos"
         hx-get="{% url 'administracao:documentos' %}"
         hx-trigger="updateContent from:body"
         hx-swap="innerHTML"
         class="flex-1 flex flex-col gap-2 h-full">
    <header class="p-2">
        <h2 class="text-2xl font-bold">Gerenciar Documentos</h2>
    </header>
    <div class="flex flex-1 flex-col gap-2 min-h-0">
        <div class="flex flex-row gap-2">{% include "partials/_search_bar.html" with target_ids="documentos" placeholder="Buscar documentos..." %}{% include "partials/_generic_create_button.html" with url=url_criar_documento text="Novo Documento" icon_name="briefcase-outline" %}</div>
        <main class="flex-1 flex flex-col p-6 bg-white rounded-2xl shadow-lg overflow-hidden">
            <div class="flex flex-col flex-1 min-h-0">
                <h3 class="text-xl font-semibold pt-2 pb-2">Documentos</h3>
                <div class="p-5 bg-slate-50 text-slate-600 box-border flex-1 mt-1 mb-1 rounded-lg overflow-y-auto min-h-0">
                    <table class="w-full border-separate border-spacing-y-2">
                        <thead>
                            <tr class="px-2">
                                <th class="p-2 text-left font-semibold">Nome</th>
                                <th class="p-2 text-left font-semibold">Período</th>
                                <th class="p-2 text-left font-semibold">Tempo de Antecedência</th>
                                <th class="p-2 text-left font-semibold">Status</th>
                                <th class="p-2 text-left font-semibold">Visualizar</th>
                                <th class="p-2 text-left font-semibold">Ações</th>
                            </tr>
                        </thead>
                        <tbody >
                            {% for documento in documentos %}
                            
                            {% url 'administracao:edit_documento' documento.id as url_editar_documento %}
                            {% url 'administracao:archive_documento' documento.id as url_arquivar_documento %}
                            {% url 'administracao:delete_documento' documento.id as url_deletar_documento %}

                            <tr class="px-2 rounded-full hover:shadow hover:bg-white p-2">
                                <td class="p-2 first:rounded-l-full last:rounded-r-full">{{ documento.nome_documento }}</td>
                                {% if documento.dia_inicio != 1 or documento.dia_fim != 31 %}
                                    <td class="p-2 first:rounded-l-full last:rounded-r-full">Desde o dia {{ documento.dia_inicio }} até o dia {{ documento.dia_fim }}</td>
                                {% else %}
                                    <td class="p-2">Todo período</td>
                                {% endif %}
                                {% if documento.limite_dias_antecedencia > 0 %}
                                    <td class="p-2">{{ documento.limite_dias_antecedencia }} dias antes</td>
                                {% else %}
                                    <td class="p-2">Sem limite mínimo</td>
                                {% endif %}
                                <td class="p-2">
                                    {% if documento.disponivel %}
                                        {% if documento.is_empty_form %}
                                            <span class="bg-yellow-100 text-yellow-800 px-2 py-1 rounded-full text-xs">Sem formulário definido</span>
                                        {% else %}
                                            <span class="bg-green-100 text-green-800 px-2 py-1 rounded-full text-xs">Disponível para o colaborador</span>
                                        {% endif %}
                                    {% else %}
                                        <span class="bg-red-100 text-red-800 px-2 py-1 rounded-full text-xs">Indisponível para o colaborador</span>
                                    {% endif %}
                                </td>
                                <td class="p-2">
                                    {% include "partials/_documento_visualizer_button.html" %}
                                </td>
                                <td class="p-2 first:rounded-l-full last:rounded-r-full">
                                    <div>
                                        {% include "partials/_generic_edit_button.html" with item=documento url=url_editar_documento %}
                                        {% include "partials/_generic_archive_button.html" with item=documento url=url_arquivar_documento %}
                                        {% include "partials/_generic_delete_button.html" with item=documento url=url_deletar_documento %}
                                    </div>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="py-2 text-center">Nenhum documento encontrado.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</section>

<div id="modal-spot"></div>
