{% url 'administracao:create_documento' as url_criar_documento %}

<section id="documentos"
         hx-get="{% url 'administracao:documentos' %}"
         hx-trigger="updateContent from:body"
         hx-swap="innerHTML"
         class="flex-1 flex flex-col gap-2 h-full">
    <header class="p-2">
        <h2 class="text-2xl font-bold">Gerenciar Documentos</h2>
    </header>
    <div class="flex flex-1 flex-col gap-2 min-h-0">
        <div class="flex flex-row gap-2">{% include "partials/_search_bar.html" with target_ids="documentos-list" placeholder="Buscar documentos..." %}{% include "partials/_generic_create_button.html" with url=url_criar_documento text="Novo Documento" icon_name="briefcase-outline" %}</div>
        <main class="flex-1 flex flex-col p-6 bg-white rounded-2xl shadow-lg overflow-hidden">
            <div class="flex flex-col flex-1 min-h-0">
                <h3 class="text-xl font-semibold pt-2 pb-2">Documentos</h3>
                <div class="p-5 bg-slate-50 text-slate-600 box-border flex-1 mt-1 mb-1 rounded-lg overflow-y-auto min-h-0">
                    <table class="w-full border-separate border-spacing-y-2">
                        <thead>
                            <tr class="px-2">
                                <th class="p-2 text-left font-semibold">Nome</th>
                                <th class="p-2 text-left font-semibold">Período</th>
                                <th class="p-2 text-left font-semibold">Tempo de Antecedência</th>
                                <th class="p-2 text-left font-semibold">Editar</th>
                                <th class="p-2 text-left font-semibold">Formulário</th>
                            </tr>
                        </thead>
                        <tbody >
                            {% for documento in documentos %}
                            <tr class="px-2 rounded-full hover:shadow hover:bg-white p-2">
                                <td class="p-2 first:rounded-l-full last:rounded-r-full">{{ documento.nome_documento }}</td>
                                {% if documento.data_inicio %}
                                    <td class="p-2 first:rounded-l-full last:rounded-r-full">{{ documento.data_inicio }} - {{ documento.data_fim }}</td>
                                {% else %}
                                    <td class="p-2">Todo período</td>
                                {% endif %}
                                {% if documento.data_inicio %}
                                    <td class="p-2">{{ documento.limite_dias_antecedencia }} dias antes</td>
                                {% else %}
                                    <td class="p-2">Sem limite mínimo</td>
                                {% endif %}
                                <td class="p-2"></td>
                                <td class="p-2 first:rounded-l-full last:rounded-r-full"></td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="py-2 text-center">Nenhum documento encontrado.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</section>

<div id="modal-spot"></div>
