{% extends 'painel.html' %}

{% block painel_name %}
    <h1 class="text-2xl font-bold">Painel de Administração</h1>
{% endblock painel_name %}

{% block menu_actions %}
    {% if user.cargo.hierarquia == 2 or user.cargo.hierarquia == 3 %}
    <a href="{% url 'administracao:dashboard' %}"
        class="flex items-center rounded-full hover:bg-indigo-100 hover:text-indigo-800 hover:font-semibold p-2 transition-colors"
        hx-target="#content-swap" 
        hx-swap="innerHTML"
        :class="sidebarOpen ? 'justify-start' : 'justify-center'"
    >
        <ion-icon name="pie-chart-outline" class="text-xl"></ion-icon>
        <span class="ml-3 whitespace-nowrap" :class="sidebarOpen ? 'block' : 'hidden'">Dashboard</span>
    </a>
    {% else %}
    <a href="{% url 'colaborador:home' %}"
        class="flex items-center rounded-full hover:bg-indigo-100 hover:text-indigo-800 hover:font-semibold p-2 transition-colors"
        hx-target="#content-swap" 
        hx-swap="innerHTML"
        :class="sidebarOpen ? 'justify-start' : 'justify-center'"
    >
        <ion-icon name="home-outline" class="text-xl"></ion-icon>
        <span class="ml-3 whitespace-nowrap" :class="sidebarOpen ? 'block' : 'hidden'">Início</span>
    </a>
    {% endif %}
    
    <a href="{% url 'administracao:lotacoes' %}"
        class="flex items-center  rounded-full hover:bg-indigo-100 hover:text-indigo-800 hover:font-semibold p-2"
        hx-target="#content-swap" 
        hx-swap="innerHTML"
        :class="sidebarOpen ? 'justify-start' : 'justify-center'"
    >
        <ion-icon  name="layers-outline"></ion-icon>
        <span class="ml-3 hover:text-semibold" :class="sidebarOpen ? 'block' : 'hidden'">Gerenciar Lotações</span>
    </a>
    <a href="{% url 'administracao:colaboradores' %}"
        class="flex items-center  rounded-full hover:bg-indigo-100 hover:text-indigo-800 hover:font-semibold p-2"
        hx-target="#content-swap" 
        hx-swap="innerHTML"
        :class="sidebarOpen ? 'justify-start' : 'justify-center'"
    >
        <ion-icon  name="people-outline"></ion-icon>
        <span class="ml-3 hover:text-semibold" :class="sidebarOpen ? 'block' : 'hidden'">Gerenciar Colaboradores</span>
    </a>
    <a href="{% url 'administracao:documentos' %}"
        class="flex items-center  rounded-full hover:bg-indigo-100 hover:text-indigo-800 hover:font-semibold p-2"
        hx-target="#content-swap" 
        hx-swap="innerHTML"
        :class="sidebarOpen ? 'justify-start' : 'justify-center'"
    >
        <ion-icon  name="reader-outline"></ion-icon>
        <span class="ml-3 hover:text-semibold" :class="sidebarOpen ? 'block' : 'hidden'">Gerenciar Documentos</span>
    </a>
    <a href="{% url 'administracao:cargos' %}"
        class="flex items-center  rounded-full hover:bg-indigo-100 hover:text-indigo-800 hover:font-semibold p-2"
        hx-target="#content-swap" 
        hx-swap="innerHTML"
        :class="sidebarOpen ? 'justify-start' : 'justify-center'"
    >
        <ion-icon  name="grid-outline"></ion-icon>
        <span class="ml-3 hover:text-semibold" :class="sidebarOpen ? 'block' : 'hidden'">Gerenciar Cargos</span>
    </a>
    <a href="{% url 'administracao:solicitacoes' %}"
        class="flex items-center  rounded-full hover:bg-indigo-100 hover:text-indigo-800 hover:font-semibold p-2"
        hx-target="#content-swap" 
        hx-swap="innerHTML"
        :class="sidebarOpen ? 'justify-start' : 'justify-center'"
    >
        <ion-icon  name="file-tray-full-outline"></ion-icon>
        <span class="ml-3 hover:text-semibold" :class="sidebarOpen ? 'block' : 'hidden'">Histórico de Solicitações</span>
    </a>
{% endblock menu_actions %}
