<section class="flex flex-1 flex-col gap-2 min-h-0">
    <header class="p-2">
        <h2 class="text-2xl font-bold">Painel do Colaborador</h2>
    </header>
    <div class="flex flex-1 flex-col gap-2 min-h-0">
        <main class="flex-1 overflow-x-hidden overflow-y-auto p-6 bg-white rounded-2xl shadow-lg h-full">
            <div class="flex flex-col h-[60%]">
                <h3 class="text-xl font-semibold pt-2 pb-2">Solicitações em andamento</h3>
                <div class="p-5 bg-slate-50 text-slate-600 box-border flex-1 mt-1 mb-1 rounded-lg overflow-y-auto">
                    <table class="w-full border-separate border-spacing-y-2">
                        <thead>
                            <tr class="px-2">
                                <th class="p-2 text-left font-semibold">Documento</th>
                                <th class="p-2 text-left font-semibold">Data</th>
                                <th class="p-2 text-left font-semibold">Informações</th>
                                <th class="p-2 text-left font-semibold">Status</th>
                            </tr>
                        </thead>
                        <tbody id="solicitacoes-list">
                            {% for solicitacao in solicitacoes_ativas %}
                            <tr class="px-2 rounded-full hover:shadow hover:bg-white p-2">
                                <td class="p-2 first:rounded-l-full last:rounded-r-full">{{ solicitacao.tipo_documento }}</td>
                                <td class="p-2">{{ solicitacao.data }}</td>
                                
                                <td class="p-2">
                                    {% include "partials/_solicitacao_action.html" with solicitacao=solicitacao %}
                                </td>
                                
                                <td class="p-2 first:rounded-l-full last:rounded-r-full">
                                    {% include "partials/_solicitacao_status.html" with solicitacao=solicitacao %}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4" class="py-2 text-center">Nenhuma solicitação encontrada.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="flex flex-col h-[40%]">
                <h3 class="text-xl font-semibold pt-2 pb-2">Solicitações pendentes de minha aprovação</h3>
                <div class="p-5 bg-slate-50 text-slate-600 box-border flex-1 mt-1 mb-1 rounded-lg overflow-y-auto">
                    <table class="w-full border-separate border-spacing-y-2">
                        <thead>
                            <tr class="x-2">
                                <th class="p-2 text-left font-semibold">Solicitante</th>
                                <th class="p-2 text-left font-semibold">Lotação</th>
                                <th class="p-2 text-left font-semibold">Documento</th>
                                <th class="p-2 text-left font-semibold">Data</th>
                                <th class="p-2 text-left font-semibold">Informações</th>
                                <th class="p-2 text-left font-semibold">Status</th>
                            </tr>
                        </thead>
                        <tbody id="pendencias-list">
                            {% for solicitacao in solicitacoes_pendentes %}
                            <tr class="px-2 rounded-full hover:shadow hover:bg-white p-2">
                                <td class="p-2 first:rounded-l-full last:rounded-r-full">{{ solicitacao.colaborador }}</td>
                                <td class="p-2">{{ solicitacao.colaborador.lotacao }}</td>
                                <td class="p-2">{{ solicitacao.tipo_documento }}</td>
                                <td class="p-2">{{ solicitacao.data }}</td>
                                
                                <td class="p-2">
                                    {% include "partials/_solicitacao_action.html" with solicitacao=solicitacao %}
                                </td>
                                
                                <td class="p-2 first:rounded-l-full last:rounded-r-full">
                                    {% include "partials/_solicitacao_status.html" with solicitacao=solicitacao %}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="py-2 text-center">Nenhuma solicitação encontrada.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</section>
<div id="modal-spot"></div>