{% for solicitacao in solicitacoes %}
<tr class="px-2 rounded-full hover:shadow hover:bg-white p-2">
    <td class="p-2 first:rounded-l-full last:rounded-r-full">{{ solicitacao.colaborador }}</td>
    <td class="p-2">{{ solicitacao.colaborador.lotacao }}</td>
    <td class="p-2">{{ solicitacao.tipo_documento }}</td>
    <td class="p-2">{{ solicitacao.data }}</td>
    
    <td class="p-2">
        {% include "partials/_solicitacao_action.html" with solicitacao=solicitacao %}
    </td>
    
    <td class="p-2 first:rounded-l-full last:rounded-r-full">
        {% include "partials/_solicitacao_status.html" with solicitacao=solicitacao %}
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="6" class="py-2 text-center">Nenhuma solicitação encontrada.</td>
</tr>
{% endfor %}
