{% extends 'base.html' %}

{% load static %}

{% block content %}

<div x-data="{ sidebarOpen: true }" class="flex w-screen h-screen space-x-2.5 p-2.5" hx-boost="true">

    <aside 
        class="shrink-0 items-center p-2 bg-white transition-all duration-300 rounded-2xl shadow-lg relative"
        :class="sidebarOpen ? 'w-64' : 'w-15'"
    >
        <div class="flex items-center justify-center p-2">
            <img src="{% static 'images/header-logo.png' %}" alt="" x-show="sidebarOpen">
            <img src="{% static 'images/logo-icon.png' %}" class="max-w-[23px]" alt="" x-show="!sidebarOpen" x-cloak>
        </div>

        <hr class="mt-4 border-slate-200">

        <button @click="sidebarOpen = !sidebarOpen" class="text-slate-600 focus:outline-none mt-4 bg-white p-[5px] shadow-lg rounded-full absolute -right-2">
            <ion-icon class="text-slate-500" name="chevron-back-outline" x-show="sidebarOpen"></ion-icon>
            <ion-icon class="text-slate-500" name="chevron-forward-outline" x-show="!sidebarOpen"></ion-icon>
        </button>
        
        <nav class="mt-8 flex flex-col justify-between h-[90%]">
            <div>{% block menu_actions %}{% endblock %}</div>
            
            <div>
                {% if usuario.is_staff %}
                    <a href="{% url 'admin:index' %}"
                        class="flex items-center rounded-full hover:bg-indigo-100 p-2"
                        hx-boost="False"
                        :class="sidebarOpen ? 'justify-start' : 'justify-center'"
                    >
                        <ion-icon class="text-slate-500" name="lock-closed-outline"></ion-icon>
                        
                        <div class="ml-3 flex self-center gap-[auto] justify-between w-full" :class="sidebarOpen ? 'block' : 'hidden'">
                            <div class="flex items-center">Acesso restrito</div>
                        </div>
                    </a>
                {% endif %}
                <a href="{% url 'perfil' %}"
                    class="flex items-center  rounded-full hover:bg-indigo-100 p-2"
                    hx-target="#content-swap" 
                    hx-swap="innerHTML"
                    :class="sidebarOpen ? 'justify-start' : 'justify-center'"
                >
                    <ion-icon class="text-slate-500" name="person-outline"></ion-icon>
                    <span class="ml-3" :class="sidebarOpen ? 'block' : 'hidden'">Meu perfil</span>
                    <div class="bg-indigo-200 p-[5px] rounded-full ml-auto" :class="sidebarOpen ? 'block' : 'hidden'">{{usuario_tagname|default:usuario.username}}</div>
                </a>
                
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" 
                            class="w-full flex items-center rounded-full text-red-600 hover:bg-red-100 p-2"
                            :class="sidebarOpen ? 'justify-start' : 'justify-center'">
                        
                        <ion-icon name="log-out-outline" class="shrink-0 w-6 h-6"></ion-icon>
                        <span class="ml-3" :class="sidebarOpen ? 'block' : 'hidden'">Sair</span>
                    </button>
                </form>
            </div>
        </nav>
    </aside>

    <div id="content-swap" class="flex flex-1 flex-col">
        {% block page_content %}{% endblock page_content %}
    </div>
</div>

{% endblock content %}
